<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp220191024012218.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/47602717-9858-4f1e-9f55-e364b319dd82/resourcegroups/Fun/providers/Microsoft.Web/sites/FunctionApp220191024012218</ResourceId>
    <UserName>$FunctionApp220191024012218</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionapp220191024012218.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>